body {
    background: url(../assets/images/portfolio-bg.jpg);
    font-size: 18px;
    padding-top: 20px;
    outline:none;
}

a {
    color: rgb(255, 255, 255) !important;
}

.success-text {
    color: rgb(0, 128, 0);
}

.warning-text {
    color: rgb(255, 200, 0);
}

.error-text {
    color: rgb(255, 0, 0);
}

.warning-btn {
	background-color: rgba(255, 165, 0, 0.35);
	border-radius: 15px;
}

.error-btn {
    background-color: rgba(255, 0, 0, 0.35);
	border-radius: 15px;  
}

.rounded-img {
	border-radius: 6px;
}

.box input {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    width: 60%;
    height: 39px;
    margin: auto;
}

.box {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 7px 8px 8px rgba(0, 0, 0, 0.85);
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 85%;
}

.middle-box {
    width: 60%;
}

.small-box {
    width: 40%;
}

@media only screen and (max-width: 600px) {
    .box {
        margin-top: 5%;
    }
    .box input {
        width: 90%;
    }
	#blog-img, #snake-img {
        width: 100%;
    }
    body {
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 767px) {
    .middle-box, .small-box {
        width: 85%;
    }
}