.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.85);
}
  
.modal-content {
    display:inline-block;
    margin: 3% auto;
    border: 2px solid rgb(255, 255, 255);
}